<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8" />
   <title>login</title> 
   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

   <script type="text/javascript">
      $(function() {
       
      });
   </script>
</head> 
<body>

<div>
    <h1>üye ol</h1>
    <form method="POST" action="/login">

      <div>
        <span>eposta adresiniz</span>
        <br/>
        <input type="text" name="email" />
      </div>

      <div>
        <span>şifreniz</span>
        <br/>
        <input type="password" name="pass" />
      </div>

      <div >                         
          <input type="submit" value="Giriş" />      
      </div>    
  </form>

</div> 
 
</body>
</html>